<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Website</title>
</head>
<body style="height: 96vh;">
    <div class="header" style=" background-color: #81cc1b; padding: 5px; text-align: center; ">
        <h1>Welcome!</h1>
    </div>

    <div class="body" style="height: 68vh;text-align: center;">
    <p>This is the index page of my website.</p>
    <a href="/customer"><button style="width: 170px; height: 40px;">Customer</button></a> | <a href="/supplier"><button style="width: 170px; height: 40px;">Supplier</button></a>
    </div>

    <div class="footer" style="height: auto; text-align: center; padding-top: 1cm;">
        <p >Created by: Kamal Das</p>
    </div>
</body>
</html>