<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Website</title>
</head>
<body style="height: 96vh;">
    <div class="header" style=" background-color: #81cc1b; padding: 5px; text-align: center; ">
        <h1>Hello Supplier!</h1>
    </div>
    <div class="body" style="height: 68vh; text-align: center;">
    <p>This is the home page of my website.</p>
    <a href="/s_register"><button style="width: 170px; height: 40px;">Supplier_Register</button></a> | <a href="/s_login"><button style="width: 170px; height: 40px;">Supplier_Login</button></a>
    </div>

    <div class="footer" style="height: 5vh; text-align: center; padding-top: 1cm;">
        <p >Created by: Kamal Das</p>
    </div>
</body>
</html>